/*EDITANDO O ESTILO GERAL */

*{
    box-sizing: border-box;
    
}

/*EDITANDO O ESTILO  NAV BAR */

.containerBody{
    width: 100%;
    height: 100%;
    display: table;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.containerNav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd2a;
    height: 3.5em;
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px 1px #000000;
    margin-top: 0.15em;
}

.containerSearch{
    border-radius: 2%;
    background-color: rgba(20, 111, 167, 0);
    margin: 10%  !important;
    display: flex;
    align-items: center;  
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.search{
    border: none;
    outline: none;
    padding: 0.7em;
    height: 2em;
    width: 70%;
    border-radius:1em;    
    background-color: rgba(255, 255, 255, 0.759);
}


.focus-input:focus {
    box-shadow: 2px 0px 3px 2px #eae6aac0;
    border: 0 none;
    outline: 0;
}

.form-control:focus {
    box-shadow: 2px 0px 3px 2px #e8a6a6c0;
    border: 0 none;
    outline: 0;
}

::placeholder {
    color: rgba(0, 0, 0, 0.822);
    font-size: 1em;
    text-transform: uppercase;  
    font-size: 1em;
    text-transform: uppercase;  
}

.buttonCreatResident {
    background-color:transparent;
    background-image: url("../icons/adicionarUsuario.png");
    background-size: cover; /* Para garantir que a imagem se ajuste ao botão */
    width: 2em;
    height:2em;
    border: none;
}

.buttonCreatResident:hover {
    width: 2.1em;
    height:2.1em;
    
}
.BoxInputadd{
    margin:0;
    width: 13.5em;
    background: none;
}
#selectMarca{
    width: 13.5em;
    outline: none;
    border: solid 0.1em #9d9d9d12;
    margin: 0;
    border-radius: 0.5em;   
    align-items: center;
}
#selectMarca:hover{
    background-color: rgba(237, 190, 190, 0.181);
    background-color: rgba(226, 192, 192, 0.181);
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px #e8a6a6c0;
}
.form-control:hover{
    box-shadow: 0px 0px 2px 2px #e8a6a6c0;
    cursor: pointer;
    background-color: rgba(245, 177, 177, 0.159);
}
.conteinerAutomakers:hover{
    background-color: rgba(245, 177, 177, 0.159);
}

.containerSearch .buttonRefresh {
    background-color: transparent;
    background-image: url("../icons/recarregar.png");
    background-size: cover; /* Para garantir que a imagem se ajuste ao botão */
    width: 2em;
    height:2em;
    border: none;
    
}
.containerSearch .buttonRefresh:hover {
    
    transform: scale(1.1) rotate(-60deg);
    cursor: pointer;
    
}

/* EDITANDO O ESTILO DA  TABELA  */

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(240, 235, 235);
    box-shadow: 0px 0px 10px 2px #878778;
}

.table th, .table td {
   font-family: 'Courier New', Courier, monospace;
   height: 10%;
   text-align: center;
   color: rgb(136, 6, 6);
}

.table th{
    color:#f2f2f2;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.table th:hover{
    color: #060606;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow:0px 0px 4px 4px #e3e3d9;
}

table .trHover:hover{
    background-color: rgb(90, 91, 91);
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px #fdfbfb;
    
   
}

.table td {
    padding: 0px 0px  0px 10px;
    background-color: rgba(255, 255, 255, 0.491);
    color: #040303b1;
    font-size: 1.7em;
    
}

.conteinner_table {
    margin:  auto   !important;
    justify-content: center;
    align-items: center;  
    width: 80%;
    box-shadow: 0px 0px 2px 0px #000000;

}
.table {
    vertical-align: middle  ;
    text-align: center;
} 

.tbody td .buttonedit {
    margin: 0.2em;
    background-color: transparent;
    background-image: url("../icons/iconEdit.png");
    background-size: cover; /* Para garantir que a imagem se ajuste ao botão */
    width: 1em;
    height:1em;
    border: none;
    cursor: pointer;
}

.tbody td .buttonedit:hover {
    transform: scale(1.1) rotate(-40deg);
    cursor: pointer;
}



/* EDITANDO MODAL DE EDITAR RESIDENTE   */


.containereditResidente{
    background-color: rgba(246, 2, 2, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.buttonsEdits{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    box-shadow: 0.5px 0.5px 1px 0.5px #c96a6a;
    border: inset 0.1em #ff8787;
    color: #cd9191;
    border-radius: 1.3em;
    align-items: center ;
    width: 6.3em;
    height: 2em ;
    background-color: rgba(243, 193, 202, 0.388);
    
}

.buttonsEdits:hover{
    color: #800c0c7f;
    border: none;
    background-color: rgba(255, 195, 204, 0.788);
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #c96a6a; 
}

.containereditResidente .containerEdit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 1em;
    box-shadow: 0.5px 0.5px 1px 0.5px #c96a6a;
    
}

.modal-body-edit{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 100%;
    box-sizing: content-box;
    background-color: rgba(235, 201, 201, 0.218);
}

.mb-3{
    width: 13em;
    background: none;
 }

/* EDITANDO MODAL INFORMAÇÕES RESIDENTE  */

.tbody td .Buttoninfo:hover {
    transform: scale(1.1) rotate(-40deg);

}

.tbody td .Buttoninfo {
    margin: 0.5em;
    background-color: transparent;
    background-image: url("../icons/infoIcon.png");
    background-size: cover; /* Para garantir que a imagem se ajuste ao botão */
    width: 1em;
    height:1em;
    border: none;
    cursor: pointer;
    margin-left: 1em;  

}
.container-edit-text-center, .container-edit-text-center{
    margin: 0.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-color: transparent;
}

.modal-body-info{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    background-color: rgba(251, 183, 194, 0.595);
  
}

.container-info-text-center{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-color: transparent;
    
}

.BoxInputInfo, .buttonOptionAutoMarks{
    margin: 2%;
    width: 30em;
   background: none;
}
.buttonOptionAutoMarks{
    margin: 2%;
    height: 2em;
    width: 11em;
    background: white;
}
.DeleteResidentMessage{
    margin:  0.5em 0  0 1em  ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: rgb(8, 7, 7);
   
}
.modal-content{
    background: #f0e8e8;
    
}
.modalInfo-footer{
    display: flex;
    align-items: center;
    height: 3rem;
    width: 100%;
    border-radius: 0  0 1em 1em;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
}

 body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #37303032;
    
}
.modal-header , .modal-footer{
    height: 2rem;
    width:auto;
    box-sizing: content-box;
    justify-content: space-around;
    background: white
    
}


.modal-contentInfo{
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

/* EDITANDO ESTILOS DOS  MODAIS DE FORMA GERAL */
.col{
    padding: 0px;
    display: flex;
    justify-content:baseline;
    align-items: center;
    box-sizing: content-box;
    background-color: transparent;
    margin:0.5em 1em ;
}

.modal-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: rgb(242, 110, 110);
    background: none;
}

.col-form-label{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content:baseline;
    align-items: center;
    font-size: 1.2em;
    color: #000000fb;
    background: none;
}

.row{
    display: flex;
    background: none;
    
}